@import url('https://fonts.googleapis.com/css2?family=Protest+Riot&display=swap');

*{
    box-sizing: border-box;
}
html {
    font-family: "roboto", sans-serif;
}
body {
    margin-top: 0;
}
h1, h2, p {
    margin-top: 0;
    margin-bottom: 0;
}
button {
    font-family: inherit;
    outline: none;
    cursor: pointer;
}